/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Allmänna stilar */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2ecc71;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2ecc71;
    color: white;
}

/* Layout för Landing Page */
.landing-page {
    text-align: center;
    padding: 50px 20px;
    background: url('../img/hero-background.jpg') no-repeat center center;
    background-size: cover;
}

.hero h1 {
    font-size: 3em;
    color: rgb(24, 118, 0);
}

/* Cards Layout */
.product-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0;
    font-size: 1.2em;
}
